#SPDX-FileCopyrightText: 2025 Jacques Supcik <jacques.supcik@hefr.ch>
#
#SPDX-License-Identifier: Apache-2.0 OR MIT

*.pyc

# Packages
/dist/*

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

.venv
/poetry.toml

# Files to compile
*.ebnf
.ruff_cache

grammar.md

# Compiled files
*.wasm
